{% extends 'core/base.html' %}
{% load static %}

{% block slider %}
<div class="row slider">
    <div class="col">
        <img src="{% static 'core/img/contact-img.jpg' %}" class="w-100" alt="Responsive image">
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <!--Acerca de - contenido -->
    <div class="container">
        <div class="row contenedor">
            <div class="col">
                <h2 class="titulo">Administrar Posts y Avatars</h2>
                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a class="btn btn-primary" href="{% url 'PortfolioFormulario' %}">Crear post</a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Crear un nuevo post</p>
                    </div>
                    
                </div>

                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a class="btn btn-primary" href="{% url 'PortfolioFormulario' %}">Modificar post</a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Modificar un post existente</p>
                    </div>
                    
                </div>

                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a class="btn btn-primary" href="{% url 'PortfolioFormulario' %}">Eliminar post</a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Eliminar un post existente</p>
                    </div>
                </div>
                
                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a class="btn btn-primary" href="{% url 'UserAvatar' %}">Asignar Avatar</a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Asignar un avatar a un usuario</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}