<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Juan Pablo Spera - Mi Blog</title>
    {% load static %}

	<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
	<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

	<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'core/css/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">

</head>

<body>
	<header>
		<div class="container">
			<!-- Logo Nombre y Menu -->
			<div class="nav row rounded-top align-items-stretch justify-content-between">
				<!-- Nombre de usuario -->
				<div
					class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
					{% if user.is_authenticated %}
					<a class="nombre" href="{% url 'UserEditar' %}">Usuario: {{ user.get_username }}</a>
					<a class="icono icon-dot" href="{% url 'UserAvatar' %}"></a>			
					<img height="40px" src="{{ user.avatar.imagen.url }}" alt="">
					{% else %}
					<a class="nombre" href="{% url 'portfolio' %}">Juan Pablo Spera</a>
					<samp class="icono icon-dot"></samp>
					<p>Mi primer blog</p>
					{% endif %}
				</div>
				<!-- Menu de navegación -->
				<nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
					<a href="{% url 'portfolio' %}" class="c-1 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Blog</span>
							<i class="icono icon-mail"></i>
						</div>
					</a>
					<a href="{% url 'about' %}" class="c-2 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Acerca de mí</span>
							<i class="icono icon-briefcase"></i>
						</div>
					</a>
					<a href="{% url 'panel' %}" class="c-3 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Admin <br> (restringido)</span>
							<i class="icono icon-home"></i>
						</div>
					</a>
					<a href="{% url 'contact' %}" class="c-1 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Contactar</span>
							<i class="icono icon-user"></i>
						</div>
						{% if user.is_authenticated %}
						<a href="{% url 'UserLogout' %}" class="c-2 d-flex align-items-center">
							<div class="d-flex flex-column text-center">
								<span>Log Out</span>
								<i class="icono icon-dot"></i>
								{% else %}
								<a href="{% url 'UserRegister' %}" class="c-2 d-flex align-items-center">
									<div class="d-flex flex-column text-center">
										<span>Registrarse</span>
										<i class="icono icon-dot"></i>
								{% endif %}
							</div>
						</a>
					</a>
				</nav>
			</div>
			{% for message in messages %}
            <br>
			<center><p>{{ message }}</p></center>
        	{% endfor %}
			<!--Slider -->
            {% block slider %}

            {% endblock %}
		</div>
	</header>

	<!--Contenido-->
	{% block title %}
    {% endblock %}
    {% block content %}
    {% endblock %}
	<!--Piede pagina -->
	<footer>
		<div class="container">
			<div class="row redes-sociales justify-content-center">
				<div class="col-auto">
					<a href="https://www.facebook.com/juan.spera" class="icono icon-facebook facebook"></a>
					<a href="https://twitter.com/JuanPSpera" class="icono icon-twitter twitter"></a>
					<a href="https://www.instagram.com/juan_spera/" class="icono icon-instagram instagram"></a>
				</div>
				<div class="col-12 text-center copyright">
					<samp>
						<p>Copyright &copy; 2022 </p>
					</samp>
				</div>
			</div>

		</div>
	</footer>

	<script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'core/js/popper.min.js' %}"></script>
	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'core/js/scripts.js' %}"></script>
</body>

</html>