{% extends 'core/base.html' %}
{% load static %}

{% block slider %}
<div class="row slider">
    <div class="col">
        <img src="{% static 'core/img/contact-img.jpg' %}" class="w-100" alt="Responsive image">
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <!--Acerca de - contenido -->
    <div class="container">
        <div class="row contenedor">
            <div class="col">
                <h2 class="titulo">Contactar a Juan Pablo Spera</h2>
                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a href="#" class="icono icon-phone phone"></a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Teléfono</p>
                    </div>
                    <div class="col-12 col-lg-7 col-md-7">
                        <p>+034 644 45 08 78 </p>
                    </div>
                </div>

                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a href="#" class="icono icon-mail mail"></a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Email</p>
                    </div>
                    <div class="col-12 col-lg-7 col-md-7">
                        <p>juan@spera.com </p>
                    </div>
                </div>

                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a href="#" class="icono icon-whatsapp whatsapp"></a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Whatsapp
                        </p>
                    </div>
                    <div class="col-12 col-lg-7 col-md-7">
                        <p>+034 644 45 08 78 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}