{% extends 'core/base.html' %}
{% load static %}

{% block slider %}
<div class="row slider">
    <div class="col">
        <img src="{% static 'core/img/bg.jpg' %}" class="w-100" alt="Responsive image" height="420px">
    </div>
</div>
{% endblock %}

{% block content %}
<main>
    <!--Acerca de - contenido -->
    <div class="container">
        <div class="row contenedor">
            <div class="col">
                <h2 class="titulo">Administrar Posts</h2>
                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a class="btn btn-primary" href="{% url 'PortfolioFormulario' %}">Crear post</a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Crear un nuevo post</p>
                    </div>
                    
                </div>

                
                <div class="row contacto justify-content-center align-items-center">
                    <div class="col-12 col-lg-2 col-md-2">
                        <a class="btn btn-primary" href="{% url 'portfolio_admin' %}">Editar o Eliminar</a>
                    </div>
                    <div class="col-12 col-lg-3 col-md-3">
                        <p class="text-center">Editar o Eliminar un post existente</p>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</main>
{% endblock %}